<div class="m-4 p-4 ">
    <p class="text-3xl font-bold text-sky-400">{{ question1 }}</p>
    <p class="text-yellow-500 font-bold text-xl">{{ answer1 }}</p>
    </div>
<div class="bg-white p-4 rounded-xl m-4 shadow-2xl">
    <!-- <br><br> -->

    <p class="text-xl font-bold text-gray-400">{{ question2 }}</p>
    <p class="text-gray-500 font-bold">{{ answer2 }}</p>
<!-- 
    <br><br>

    <p class="text-gray-500 font-bold">{{ explanation }}</p>

    <h3 class="text-xl m-5 font-bold text-gray-400 bg-gray-200 p-4 rounded-xl hover:bg-green-400 hover:text-4xl transition-all ease-in-out duration-700">
        {{ stringInterpolation }}
    </h3> -->
</div>
