<div class="bg-white p-4 rounded-xl m-4 shadow-2xl">
  <!-- <br><br> -->

  <p class="text-xl font-bold text-gray-400">{{ question1 }}</p>
  <p class="text-gray-500 font-bold">{{ answer1 }}</p>

  <!-- <br><br>

  <p class="text-gray-500 font-bold">{{ eventExplanation }}</p>

  <input (input)="onInput($event)" type="text" placeholder="type here" [disabled]="isDisabled" [value]="isDisabled"
    class="mt-5 p-4 text-xl font-bold focus:outline-none rounded-xl shadow-[0_0_20px_rgba(0,0,0,0.3)] shadow-gray-400 text-gray-400" />

    <button (click)="hello()" (click)="toggle()" class="ml-5 text-xl font-bold text-gray-400 p-4 rounded-xl" [ngClass]="isDisabled ? 'bg-green-400' : 'bg-gray-200'">{{ isDisabled ? 'Enable' : 'Disable' }}</button> -->

</div>


<!-- <div (mouseover)="onMouseOver()"
(mouseout)="onMouseOut()"
class="w-[100px] h-[50px] bg-red-600 text-center cursor-pointer leading-[100px] rounded-full"></div>

<p>{{ message }}</p> -->
